@font-face {
  font-family: "Raleway Light";
  src: url("fonts/Raleway-Light.eot");
  src: url("fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Light.woff2") format("woff2"),
    url("fonts/Raleway-Light.woff") format("woff"),
    url("fonts/Raleway-Light.ttf") format("truetype"),
    url("fonts/Raleway-Light.svg#fonts/Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Medium";
  src: url("fonts/Raleway-Medium.eot");
  src: url("fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-Medium.woff2") format("woff2"),
    url("fonts/Raleway-Medium.woff") format("woff"),
    url("fonts/Raleway-Medium.ttf") format("truetype"),
    url("fonts/Raleway-Medium.svg#fonts/Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Light Italic";
  src: url("fonts/Raleway-LightItalic.eot");
  src: url("fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-LightItalic.woff2") format("woff2"),
    url("fonts/Raleway-LightItalic.woff") format("woff"),
    url("fonts/Raleway-LightItalic.ttf") format("truetype"),
    url("fonts/Raleway-LightItalic.svg#fonts/Raleway-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Raleway Medium Italic";
  src: url("fonts/Raleway-MediumItalic.eot");
  src: url("fonts/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("fonts/Raleway-MediumItalic.woff") format("woff"),
    url("fonts/Raleway-MediumItalic.ttf") format("truetype"),
    url("fonts/Raleway-MediumItalic.svg#fonts/Raleway-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Regular";
  src: url("fonts/PlayfairDisplay-Regular.eot");
  src: url("fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Regular.svg#fonts/PlayfairDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Bold Italic";
  src: url("fonts/PlayfairDisplay-BoldItalic.eot");
  src: url("fonts/PlayfairDisplay-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-BoldItalic.woff") format("woff"),
    url("fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-BoldItalic.svg#fonts/PlayfairDisplay-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Italic";
  src: url("fonts/PlayfairDisplay-Italic.eot");
  src: url("fonts/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Italic.svg#fonts/PlayfairDisplay-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Bold";
  src: url("fonts/PlayfairDisplay-Bold.eot");
  src: url("fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
    url("fonts/PlayfairDisplay-Bold.svg#fonts/PlayfairDisplay-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
}
.banner {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../images/banner-girl.png") center 60px no-repeat,
    url("../images/flower-bkgd.jpg") center;
  background-size: cover, 150px auto, cover;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 1px 2px black;
}

.headerline {
  border-color: rgba(215, 215, 215, 0.5);
  margin: 0px 20px 0px 20px;
}

.headerflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.headerpadding {
  padding: 10px 20px;
}

.deadheader {
  height: 107.25px;
  background-color: white;
}

.subheading{
  font-family: "Playfair Italic";
}

.subheadingbold{
  font-family:"Playfair Bold";
  font-size: 32px;
  text-align: center;
  margin:35px 20px 10px 20px;
}

.bodytext{
  font-family:"raleway medium";
  font-size:16px;
  text-align:center;
  line-height:30px;
  margin:20px 10px 35px 10px;
}

.whiteshadowtext{
  color:white;
  text-shadow: 1px 1px 2px gray;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  display:flex;
  color: white;
  font-family: "raleway medium";
  font-size: 24px;
  height: 49vw;
  justify-content: center;
  align-items:center;
  margin:4px 0px;
}

.item:nth-child(n) {
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
    url(../images/mens-category.jpg);
  flex-basis: 100%;
  background-size: cover;
}
.item:nth-child(2n) {
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
    url(../images/trends-category.jpg);
  flex-basis: 49%;
  background-size: cover;
}
.item:nth-child(3n) {
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
    url(../images/glasses-category.jpg);
  flex-basis: 49%;
  background-size: cover;
}
.item:nth-child(4n) {
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
    url(../images/sale-category.jpg);
  flex-basis: 49%;
  background-size: cover;
}
.item:nth-child(5n) {
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
    url(../images/bags-category.jpg);
  flex-basis: 49%;
  background-size: cover;
}
.item:nth-child(6n) {
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)),
    url(../images/womens-category.jpg);
  flex-basis: 100%;
  background-size: cover;
}

.ralewaybanner {
  font-family: "Raleway Medium";
  font-size: 16px;
}

.playfairbanner {
  font-family: "Playfair regular";
  font-size: 34px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 15px 15px;
  font-family: "Raleway Medium";
  font-size: 16px;
  font-weight: 600;
}

.nav-items a {
  color: #e2574c;
  text-decoration: none;
}

header {
  position: fixed;
  background: white;
  width: 100%;
}

.greytext {
  color: rgb(147, 147, 147);
}

.subscribeform {
  display:flex;
  flex-direction:column;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)),
  url("../images/wave-bkgd.jpg") center bottom no-repeat;
  background-size: 280%;
  width: 100%;
}

.bottompage {
  height:175px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family:"playfair regular";
  font-size: 12px;
}

.bottompage a{
  color:white;
}

.footerflex {
  display: flex;
  flex-direction: column;
  background-color:#242424;
}

.formfield{
  position:relative;
  width:60%;
  height:27px;
  border-radius:25px;
  border:none;
  margin:0px 20% 0px 20%;
  padding-left:15px;
  font-family:"raleway medium";
}

.buttonflex{
  display:flex;
  justify-content: flex-end;
  margin: 0px 19% 0px 19%;
}

.formbutton{
  position:absolute;
  height:23px;
  width: 85px;
  border-radius:20px;
  border:none;
  margin-top:-26px;
  background-color: #e2574c;
  color:white;
  font-family:"raleway medium";
}

.socialmedia {
  height: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  margin: 0% 25% 40px 25%;
  font-size: 14px;
}

.socialmedia span {
  display: none;
}
/* Breakpoint for tablets */

@media (min-width: 600px) {
  body {
    background: white;
    font-size: 16px;
  }

  .deadheader{
    height:74.25px;
  }
  .nav-items {
    position:relative;
    top:-40px;
    padding: 0px 25%;
  }
  .headerline{
    display:none;
  }

  .item {
    height:24vw;
  }
  .item:nth-child(n) {
    flex-basis:49.5%;
  }
  .item:nth-child(2n) {
    flex-basis:24.25%;
  }
  .item:nth-child(3n) {
    flex-basis:24.25%;
  }
  .item:nth-child(4n) {
    flex-basis:24.25%;
  }
  .item:nth-child(5n) {
    flex-basis:24.25%;
  }
  .item:nth-child(6n) {
    flex-basis:49.5%;
  }

  .bottompage {
    height:175px;
    width: 75%;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-family:"playfair regular";
    font-size: 14px;
    margin-left:20px;
  }

  .socialmedia {
    height: auto;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    margin: 0% 25% 40px 25%;
    font-size: 14px;
  }

  .socialmedia span {
    display: inline;
  }
  .footerflex {
    flex-direction: row;
  }
}

/* Breakpoint for desktop*/

@media (min-width: 1240px) {
  body {
    background: plum;
  }
}
